/* .primary{
    position: absolute;
    top:-220%;
    left:76%;
    
   
    color: rgb(19, 145, 223);
    background-color: #ffffff;
    font-size: 60px;
     height:50px;
     width:185px;
    border-radius:10px;
   
    
    font-family: Courier New;
    margin: 5px;
   
    font-weight: bolder;
    letter-spacing:1px;
} */

*{
    padding: 0;
    margin: 0;
    outline: 0;
}

.main{
    width: 100%;
  text-align: center;
}

.inner{
    display: inline-block;
    margin: 0px auto;
    padding: 0;
}